<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/e2rp?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="com/model/pojo/Login.hbm.xml"/>
    <mapping resource="com/model/pojo/Bookmaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Studentattendence.hbm.xml"/>
    <mapping resource="com/model/pojo/Accmasterdetail.hbm.xml"/>
    <mapping resource="com/model/pojo/Accmaster.hbm.xml"/>
    <mapping resource="com/model/pojo/MarksMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/BuildingMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Stockin.hbm.xml"/>
    <mapping resource="com/model/pojo/Enquiry.hbm.xml"/>
    <mapping resource="com/model/pojo/RequsitionHistoryMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/WeekoffMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/AssetsTable.hbm.xml"/>
    <mapping resource="com/model/pojo/WorkorderDetails.hbm.xml"/>
    <mapping resource="com/model/pojo/Finesetting.hbm.xml"/>
    <mapping resource="com/model/pojo/RoutineDetails.hbm.xml"/>
    <mapping resource="com/model/pojo/RequsitionApproval.hbm.xml"/>
    <mapping resource="com/model/pojo/StaffRegistration.hbm.xml"/>
    <mapping resource="com/model/pojo/Groupmaster.hbm.xml"/>
    <mapping resource="com/model/pojo/TypeofCodemaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Salary.hbm.xml"/>
    <mapping resource="com/model/pojo/Contramaster.hbm.xml"/>
    <mapping resource="com/model/pojo/LeaveMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/RoutineMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/StaffAttendance.hbm.xml"/>
    <mapping resource="com/model/pojo/BookReturn.hbm.xml"/>
    <mapping resource="com/model/pojo/Typeofcode.hbm.xml"/>
    <mapping resource="com/model/pojo/DesignationMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/StudentDetails.hbm.xml"/>
    <mapping resource="com/model/pojo/Contradetails.hbm.xml"/>
    <mapping resource="com/model/pojo/Journaldetails.hbm.xml"/>
    <mapping resource="com/model/pojo/Itemdtl.hbm.xml"/>
    <mapping resource="com/model/pojo/FeesMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/WorkorderPurchase.hbm.xml"/>
    <mapping resource="com/model/pojo/StateMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/PostMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Supplier.hbm.xml"/>
    <mapping resource="com/model/pojo/Journalmaster.hbm.xml"/>
    <mapping resource="com/model/pojo/JobApplication.hbm.xml"/>
    <mapping resource="com/model/pojo/Advertisement.hbm.xml"/>
    <mapping resource="com/model/pojo/StaffDetails.hbm.xml"/>
    <mapping resource="com/model/pojo/CityMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Numberentry.hbm.xml"/>
    <mapping resource="com/model/pojo/Receiptmaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Receiptdetails.hbm.xml"/>
    <mapping resource="com/model/pojo/MasterStockin.hbm.xml"/>
    <mapping resource="com/model/pojo/InterviewDate.hbm.xml"/>
    <mapping resource="com/model/pojo/RoomMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/FloorMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/SalaryMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Studentmaster.hbm.xml"/>
    <mapping resource="com/model/pojo/StudentFeesDetails.hbm.xml"/>
    <mapping resource="com/model/pojo/Account.hbm.xml"/>
    <mapping resource="com/model/pojo/LiberyReg.hbm.xml"/>
    <mapping resource="com/model/pojo/LandMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Paymentmaster.hbm.xml"/>
    <mapping resource="com/model/pojo/SubjectMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Examschedule.hbm.xml"/>
    <mapping resource="com/model/pojo/ReceptionManageVisitors.hbm.xml"/>
    <mapping resource="com/model/pojo/StudentRegistration.hbm.xml"/>
    <mapping resource="com/model/pojo/InterviewDateCopy.hbm.xml"/>
    <mapping resource="com/model/pojo/BookIssuemaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Faculty.hbm.xml"/>
    <mapping resource="com/model/pojo/Itemmaster.hbm.xml"/>
    <mapping resource="com/model/pojo/ContactUs.hbm.xml"/>
    <mapping resource="com/model/pojo/RequsitionForward.hbm.xml"/>
    <mapping resource="com/model/pojo/Paymentdetails.hbm.xml"/>
    <mapping resource="com/model/pojo/ClassMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/CourseMaster.hbm.xml"/>
    <mapping resource="com/model/pojo/Productstockledger.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
